/* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* Menu */
ul{
  display: flex;
  list-style: none;
}

a{
  color: #5b2ca2;
  text-decoration: none;
}

/* Icons */
i{
  font-size: .8rem;
}
