/* Center */
.center{
  margin: 0 auto;
}

/* Widht */
.w-80{
  width: 80%;
}

.w-25{
  width: 25%;
}

.w-400{
  width: 400px;
}

.w-350{
  width: 350px;
}

/* Button */
button{
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

button span{
  font-size: .75rem;
  padding: 2px 10px;
}

.btn-1{
  background-color: white;
  color: #5b2ca2;
  cursor: pointer;
  
  &:hover{
    background-color: #5b2ca2;
    color: white;
  }
}

.btn-2{
  background-color: #5b2ca2;
  color: white;
  cursor: pointer;
  
  &:hover{
    background-color: rgba($color: #929295, $alpha: .3);
    color: #5b2ca2;
  }
}

/* Colors */
.main-color{
  color: #5b2ca2;
}

/* Costum Title DIV */
.title{
  color: #929295;
  text-transform: uppercase;
  font-size: .65rem;
}

.title-white{
  text-transform: uppercase;
  font-size: .65rem;
  color: white;
}

.main-title-big{
  margin: 20px 0px;
  color: #5b2ca2;
  font-size: 3rem;
}

.main-title-small{
  margin: 20px 0px;
  color: #5b2ca2;
  font-size: 2rem;
}

.main-title-small-white{
  margin: 20px 0px;
  color: white;
  font-size: 2rem;
}

.description{
  margin-bottom: 30px;
  color: #929295;
}
